<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Detail</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1><%= student.name %> (<%= student.roll %>)</h1>
  <p>Math: <%= student.marks.math %></p>
  <p>Physics: <%= student.marks.physics %></p>
  <p>Chemistry: <%= student.marks.chemistry %></p>
  <p>Total: <%= student.total %></p>
  <p>Percentage: <%= student.percentage %></p>
  <p>Grade: <%= student.grade %></p>
  <a href="/">Back</a>
</body>
</html>
